/* 
  make each pie piece a rectangle twice as high as it is wide.
  move the transform origin to the middle of the left side.
  Also ensure that overflow is set to hidden.
*/
.multi-pie {
	position:absolute;
	width:100px;
	height:200px;
	overflow:hidden;
	left:150px;
	transform-origin:left center;
}
/*
unless the piece represents more than 50% of the whole chart.
then make it a square, and ensure the transform origin is
back in the center.

NOTE: since this is only ever a single piece, you could
move this to a piece specific rule and remove the extra class
*/
.multi-pie.big {
	width:200px;
	height:200px;
	left:50px;
	transform-origin:center center;
}
/*
this is the actual visible part of the pie. 
Give it the same dimensions as the regular piece.
Use border radius make it a half circle.
move transform origin to the middle of the right side.
Push it out to the left of the containing box.
*/
.multi-pie:BEFORE {
	content:"";
	position:absolute;
	width:100px;
	height:200px;
	left:-100px;
	border-radius:100px 0 0 100px;
	transform-origin:right center;
	
}
/* if it's part of a big piece, bring it back into the square */
.multi-pie.big:BEFORE {
	left:0px;
}
/* 
big pieces will also need a second semicircle, pointed in the
opposite direction to hide the first part behind.
*/
.multi-pie.big:AFTER {
	content:"";
	position:absolute;
	width:100px;
	height:200px;
	left:100px;
	border-radius:0 100px 100px 0;
}
/*
add colour to each piece.
*/
.multi-pie:nth-of-type(1):BEFORE,
.multi-pie:nth-of-type(1):AFTER {
	background-color:blue;	
}
.multi-pie:nth-of-type(2):AFTER,
.multi-pie:nth-of-type(2):BEFORE {
	background-color:green;	
}
.multi-pie:nth-of-type(3):AFTER,
.multi-pie:nth-of-type(3):BEFORE {
	background-color:red;	
}
.multi-pie:nth-of-type(4):AFTER,
.multi-pie:nth-of-type(4):BEFORE {
	background-color:orange;	
}
/*
now rotate each piece based on their cumulative starting
position
*/
.multi-pie[data-start="30"] {
	transform:rotate(30deg);
}
.multi-pie[data-start="60"] {
	transform:rotate(60deg);
}
.multi-pie[data-start="100"] {
	transform:rotate(100deg);
}
/*
and rotate the amount of the pie that's showing.

NOTE: add an extra degree to all but the final piece, 
to fill in unsightly gaps.
*/
.multi-pie[data-value="30"]:BEFORE {
	transform:rotate(31deg);
}
.multi-pie[data-value="40"]:BEFORE {
	transform:rotate(41deg);
}
.multi-pie[data-value="260"]:BEFORE {
	transform:rotate(260deg);
}
