/*Pie Chart Step 5*/
.mp-ct {
  margin: 1em auto;
  width: 300px; height: 300px;
}
.mp-bg {
  overflow: hidden;
  position: absolute;
  width: 300px; height: 300px;
  border-radius: 50%;
}
.hold-right {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin-left: 50%;
}
.hold-left {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin-right: 50%;
}
.mp {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*colors*/
.color-blue { background-color: #5DA5DA; }
.color-orange { background-color: #FAA43A; }
.color-yellow { background-color: #DECF3F; }

/*rotations*/
.rt-left-0 { transform-origin:left; transform: rotate(0deg); }
.rt-left-40 { transform-origin:left; transform: rotate(40deg); }
.rt-left-100 { transform-origin:left; transform: rotate(100deg); }